[submodule "frontend"]
	path = frontend
	url = https://github.com/bernobin/first_docker_project-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/bernobin/first_docker_project-backend.git
